@value values: '@css/variables.module.css';
@value colorMain, colorSecondary, padding, radius, border from values;

.help-desk {
  width: 80%;
  max-width: 1200px;
  margin-inline: auto;
  padding: padding;

  display: flex;
  flex-direction: column;
  gap: padding;

  border: border;
  border-radius: radius;

  box-shadow: shadow;
}

.form-container {
  width: 100%;
}

.btn-add-ticket {
  padding: padding;
  border-radius: radius;
  background-color: colorMain;
  color: colorSecondary;
  border: 0;
  cursor: pointer;

  align-self: end;

  box-shadow: shadow;
}

.tickets-container {
  width: 100%;
  min-height: 100px;
}
