@value values: '@css/variables.module.css';
@value colorMain, colorSecondary, padding, radius, border, shadow from values;

.confirm-delete-form {
  width: 450px;
  padding: calc(padding * 2);

  display: flex;
  flex-direction: column;
  gap: padding;

  & button {
    padding: padding;
    border-radius: radius;
    background-color: transparent;
    border: border;
    cursor: pointer;

    align-self: end;

    font-size: inherit;
  }

  & pre {
    font: inherit;
    font-size: 1.2rem;
    white-space: pre-wrap;
  }
}

.header {
  font-size: 18px;
  text-align: center;
  font-weight: normal;
}

.controls {
  display: flex;
  justify-content: end;
  gap: padding;

  font-size: 16px;
}
