@value values: '@css/variables.module.css';
@value colorMain, colorSecondary, padding, radius, border, shadow from values;

.ticket {
  width: 100%;
  padding: calc(padding / 2);

  display: flex;
  flex-direction: column;

  border-radius: radius;
  border: border;

  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
}

.ticket-short {
  width: 100%;

  display: flex;
  align-items: center;
  gap: padding;
}

.checkbox-wrapper {
  width: 26px;

  & input {
    display: none;
  }

  & .checkboxCustom {
    width: 20px;
    height: 20px;
    padding: calc(padding * 1.2);

    border-radius: 50%;

    background-color: white;
    background: no-repeat center/60% white;
    border: 1px solid colorSecondary;
    cursor: pointer;
  }
}

.checkbox:checked + .checkboxCustom {
  background-image: url('@images/checked.png');
}

.name {
  flex: 1 0 70%;
}

.description-full {
  height: 0;
  overflow: hidden;
  margin-left: 36px;
  margin-right: 30%;

  white-space: pre-wrap;

  transition: height 0.5s ease-in-out;
}

.time {
  flex: 20%;
}

.controlsWrapper {
  flex: 10%;

  display: flex;
  justify-content: center;
  gap: padding;

  & button {
    padding: calc(padding * 1.5);

    border-radius: 50%;

    background-color: white;
    background: no-repeat center/60% white;
    border: 1px solid colorSecondary;
    cursor: pointer;
  }

  & .btn-edit {
    background-image: url('@images/edit.png');
  }

  & .btn-delete {
    background-image: url('@images/delete.png');
  }
}
